.seccion-login {
    position: absolute;
    width: 50vw;
    height: 70vh;
    left: 25vw;
    top: 15vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    background: #ccf6ff;
    border-radius: 20px;
  }
  
 form img {
    margin: 1px;
    background-color: rgba(50, 186, 204, 0.418);
    padding: 15px;
    border-radius: 10px;

  }
  
  .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .logo {
    margin-top: -14%;
    margin-left: 115%;
  }
  
  .img {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  
  .logo img {
    width: 170px;
  }
  
  .contenido-login {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    align-items: center;
    text-align: center;
  }
  
  .img img {
    width: 150px;
  }
  
  form {
    width: 360px;
  }
  
  .contenido-login img {
    margin-top: 10px;
    height: 100px;
  }
  
  .contenido-login h2 {
    margin: 15px 0;
    color: #333;
    font-size: 2.9rem;
    margin-bottom: 20px;
    border-bottom: 3px solid #d0a2fe;
  }
  
  .contenido-login .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d4bebe;
  }
  
  .contenido-login .input-div.usuario {
    margin-top: 0;
  }
  
  .i {
    color: #d4bebe;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .i i {
    transition: 0.3s;
  }
  
  .input-div > div {
    position: relative;
    height: 45px;
  }
  
  .input-div > div > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
  }
  
  .input-div.pass {
    margin-bottom: 4px;
  }
  
  .botones {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
  }
  
  .btn0 {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 120%;
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #d0a2fe, #33ffdd, #c4c4c4);
    background-size: 200%;
    font-size: 1rem;
    color: black;
    font-family: "Poppins" sans-serif;
    text-transform: uppercase;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn0:hover {
    background-position: right;
  }
  
  .btn1 {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 90%;
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #d0a2fe, #33ffdd, #c4c4c4);
    background-size: 200%;
    font-size: 1rem;
    color: black;
    font-family: "Poppins" sans-serif;
    text-transform: uppercase;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn1:hover {
    background-position: right;
  }